@using Statens.Tribes.App.Domain.Model
@model CreateTribeModel

@{
    ViewBag.Title = "New tribe";
    Layout = "_Layout";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm())
{
@Html.TextBoxFor(m => m.Name)
@Html.DropDownListFor(model => model.TribeType,
        new SelectList(Enum.GetValues(typeof(TribeType))),
        "Select Type")

<input type="submit" value="Submit strongly type synchronous form" />
}
