@model List<TribeViewModel>

@{
    ViewBag.Title = "Tribes";
    Layout = "_Layout";
}

<h1>@ViewBag.Title</h1>

@foreach (var tribe in Model)
{
    <p>
        <h3>@tribe.Name</h3>
       @tribe.Id
       
       <div>
           
           @Html.ActionLink("Edit", "Update", new { id=tribe.Id })
       </div>
    </p>
}
